<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDrM6CTZaAt2e-USvRX2AzdnvVCiMw86hk</string>
	<key>GCM_SENDER_ID</key>
	<string>992935456108</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.load.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>loadiot-3f724</string>
	<key>STORAGE_BUCKET</key>
	<string>loadiot-3f724.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:992935456108:ios:d85fe884b21b1b71571749</string>
	<key>DATABASE_URL</key>
	<string>https://loadiot-3f724-default-rtdb.firebaseio.com</string>
</dict>
</plist>